<!DOCTYPE html>
<html lang="en">
<head>
     {% load static %}
    <meta charset="UTF-8">
    <title>Note Detail</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Note Detail</h1>
    <h2>Note: {{ note.note_title }}</h2>
    <h3>Content: {{ note.content }}</h3>
    <button><a href="{% url 'notes:list' %}" class="back-list">Bact to Note List</a></button>
    <br><br>
    <button><a href="{{ note.get_update_url }}" class="update-note">Update Note</a></button>
    <br><br>
    <button><a href="{{ note.get_delete_url }}" class="delete">Delete </a></button>
</body>
</html>