<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Task List</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Task List</h1>
    <button class="button"><a href="{% url 'tasks:create' %}">Create Task</a></button>
    {% for task in tasks %}
    <a href="{{ task.get_detail_url }}" class="button">
         <h3>{{ task.task_title }}</h3>
    </a>
    {% empty %}
    <h3>No Tasks</h3>
    {% endfor %}
    <button><a href="{% url 'home' %}">Bact to Home</a></button>
</body>
</html>